@font-face {
    font-family: 'Nexa_Bold';
    src: url('Nexa_Bold.ttf');
}

@font-face {
    font-family: 'Nexa_Regular';
    src: url('Nexa_Regular.ttf');
}


h1,
h2,
h3,
legend {

    font-family: 'Nexa_Bold', 'trebuchet ms', 'sans-serif';
}

body {
    color: #274e59;
    width: 100%;
    margin: 0;
    font-family: 'Nexa_Regular', 'trebuchet ms', 'sans-serif';
    background-color: #f3e5d8;
}


/* Menu bovenaan de pagina */

header {
    box-shadow: 0 0 0.625em 0 rgba(0, 0, 0, .15);
    padding: .5em 0em 0.3em .5em;
    height: 3em;
    background-color: #ffff;
    color: #00d66c;
}

header nav ul li a img {
    max-height: 2.3em;
    margin-right: 0.7em;
}

/* Header - iconen naar rechterkant van de pagina */

header nav ul {

    list-style: none;
    padding: 0;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* Header - logo naar linkerkant van de pagina */

header nav ul li:nth-of-type(1) {
    margin-right: auto;

}


/* Section: Sfeerafbeelding en tekst bovenaan pagina */

#intro {
    background-image: url("../images/beach.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 21em;
    margin: 0;
    padding-top: 0.01em;
}

section#intro h1 {
    font-size: 2.37em;
    color: #00d66c;
    background-color: #ffffff;
    text-align: center;
    padding: 1em 0.3em;
    margin: 2em auto;
    text-align: center;
    border-radius: .5em;
    max-width: 8em;
    word-wrap: break-word;


}

/* Section: Top 5 Best gewaardeerd */

section#best_gewaardeerd {
    background-color: #f3e5d8;
    margin-bottom: 2em;

}

section#best_gewaardeerd h2 {
    color: #2800a0;
    font-size: 1.8em;
    padding: 1em 0.5em 0.5em 0.5em;
    margin: 0em;
}


section#best_gewaardeerd article {
    margin: 0.3em;
    position: relative;
    background-color: #ffffff;
    border-radius: .75em;
    min-height: 19em;
    width: 18em;

}


section#best_gewaardeerd article img {
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    height: 15em;
    width: 100%;

}

/* Best gewaardeerd - Rating */

section#best_gewaardeerd article p {
    font-size: 1.5em;
    color: #ffffff;
    background-color: #00d66c;
    padding: 0.2em;
    position: absolute;
    margin: -9.5em .5em;
    border-radius: .5em;
}

/* Best gewaardeerd - Like button */

section#best_gewaardeerd article img[title="unlike"] {
    max-width: 3em;
    max-height: 3em;
    position: absolute;
    transition: .3s linear;
    top: 1em;
    right: 1em;

}

/* Best gewaardeerd - Titel */

section#best_gewaardeerd a {
    text-decoration: none;
}

section#best_gewaardeerd article h3 {
    color: #2800a0;
    font-size: 1.35em;
    word-wrap: break-word;
    margin: 0.5em;

}

/* Best gewaardeerd - Artikelen op een rij */

section#best_gewaardeerd div {
    margin-left: -0.5em;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    text-decoration: none;
}


/* Filter */

section#Filter {
    background-color: #ffffff;
    padding-bottom: 2em;
    position: relative;


}

section#Filter h2 {
    background-color: #ffffff;
    color: #00d66c;
    padding: 1em 0.5em 0.5em 0.5em;
    margin: 0em;
    font-size: 1.8em;

}


section#Filter button {
    font-size: 1.25em;
    background-color: #ff3268;
    color: #ffffff;
    /* Bron: https://www.transavia.com*/
    padding: .4375em 1.5em .5625em;
    border-radius: 1.25em;
    box-shadow: inset 0 -.1875rem .0625rem #ca2b55;
    transition: .3s linear;
    margin: 0em -0.5em 0.3em 0.5em;

}

section#Filter button:hover {
    background-color: #ff658e;
}

section#Filter button:active {
    background-color: #ff3268;
    /* Bron: https://www.transavia.com*/
    box-shadow: inset 0 0.1875rem 0.0625rem #ca2b55;
}


section#Filter div {
    margin-left: -0.5em;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    text-decoration: none;
}


/* Resultaten */

section#Resultaten {
    background-color: #f3e5d8;
}


section#Resultaten h2 {
    color: #2800a0;
    font-size: 1.8em;
    padding: 1em 0.5em 0.5em 0.5em;
    margin: 0em;
}

/* Resultaten - Sorteren */

section#Resultaten form {

    background-color: rgba(255, 255, 255, .7);
    border-radius: .75em;
    margin: 0 0.5em;
    padding-bottom: 0.5em;
}

section#Resultaten form h3 {
    color: #00d66c;
    margin-left: 0.5em;
    padding-top: 0.5em;
    margin-top: 0;
}

section#Resultaten form label {
    color: #202020;
    font-size: 1em;
    margin-left: -.2em
}

section#Resultaten form input {
    margin-left: 1em
}

section#Resultaten form [type=submit] {
    font-size: 1.25em;
    background-color: #00d66c;
    color: #ffffff;
    /* Bron: https://www.transavia.com*/
    padding: .4375em 1.5em .5625em;
    border-radius: 1.25em;
    box-shadow: inset 0 -.1875rem .0625rem #1e9162;
    transition: .3s linear;
    margin: 0em -0.5em 0.3em 0.5em;
}

section#Resultaten form [type=submit]:hover {
    background-color: #4de298;
}

section#Resultaten form [type=submit]:active {
    background-color: #00d66c;
    /* Bron: https://www.transavia.com*/
    box-shadow: inset 0 0.1875rem 0.0625rem #1e9162;
}


/* Resultaten - Verhalen */

section#Resultaten a {
    text-decoration: none;
}

section#Resultaten article {
    background-color: #ffffff;
    border-radius: .75em;
    max-width: 30em;
    width: 90%;
    position: relative;
    display: block;
    margin: 1em auto;
    max-height: 30em;


}

section#Resultaten article h3 {
    color: #2800a0;
    font-size: 1.4em;
    word-wrap: break-word;
    margin: 0.5em;
    padding-bottom: 0.5em;

}

section#Resultaten article img {
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    width: 100%;
    height: auto;
    max-height: 18em;
    overflow: hidden;
}

section#Resultaten article p {
    font-size: 1.5em;
    color: #ffffff;
    background-color: #00d66c;
    padding: 0.2em;
    margin: 0;
    position: absolute;
    border-radius: .5em;
    top: 0.5em;
    left: 0.5em;
}


section#Resultaten article img[title="unlike"] {
    max-width: 3em;
    max-height: 3em;
    position: absolute;
    transition: .3s linear;
    top: 0.5em;
    right: 0.5em;
}


/* Inlogpagina formulier  */

#login form {
    border-radius: 1em;

}

#login fieldset {
    display: block;
    background-color: #f3e5d8;
    width: 30em;
    margin: 3em auto;
}

#login fieldset legend {
    display: block;
    background-color: #ffffff;
    width: 100%;
    font-size: 2.37em;
    color: #00d66c;
    padding: 0.5em 0em;

}

#login fieldset {
    background-color: #f3e5d8;
    width: 30em;
    margin: 3em auto;
    padding: 0;
    border: none;
}

#login fieldset label {
    margin: 2em 0em;

}

#login {
    background-image: url("../images/beach.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 21em;
    margin: 0;
    padding-top: 0.01em;


}
